html,
body {
  height: 100%;
  background: rgb(190,241,255);
  background: linear-gradient(90deg, rgba(190,241,255,1) 0%, rgba(230,236,237,1) 78%, rgba(255,255,255,1) 99%);
}

#page-content {
  flex: 1 0 auto;
}